

  .mainlabel{
    position: relative;
  }
  label.label{
    position: absolute;
    transform: translateX();
    
  }
  .main{
    background-image:url(https://cdn.wallpapersafari.com/2/68/5Z3kAL.png);
      }

  
    
     
  
